.class-1 {
	color: blue;
	@include media-query {
		color: red;
	}
	.class-2 {
		color: blue;
		@include media-query {
			color: red;
		}
		.class-3 {
			color: blue;
			@include media-query {
				color: red;
			}	
		}	
	}	
}