<html>
	<head>
		<title>Image to Video</title>
		<script src="/vendor/axios/dist/axios.js"></script>
	</head>
	<body>
		<h1>Images to Video</h1>
		<hr>
		<div class="images">
		</div>
		<button type="button" class="convert">Convert to Video</button>
		<script src="/public/script.js"></script>
	</body>
</html>
